@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:ital,opsz,wght@0,9..144,900;1,9..144,700&display=swap');

:root {

--Soft-red: hsl(7, 99%, 70%);
--Yellow: hsl(51, 100%, 49%);
--Dark-desaturated-cyan: hsl(167, 40%, 24%);
--Dark-blue: hsl(198, 62%, 26%);
--Dark-moderate-cyan : hsl(168, 34%, 41%);
--header-bg: #3ebfff;


--Very-dark-desaturated-blue: hsl(212, 27%, 19%);
--Very-dark-grayish-blue: hsl(213, 9%, 39%);
--Dark-grayish-blue: hsl(232, 10%, 55%);
--Grayish-blue: hsl(210, 4%, 67%);
--White: hsl(0, 0%, 100%);
--footer-bg: #8ed0c4;


}

* {
    margin: 0;
    padding: 0;
}




.banner {
    background-color: #3ebfff;
    height: 100vh;
    min-height: 600px;
    background-image: url("./images/desktop/image-header.jpg");
    background-size: cover;
    background-position: center bottom;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}

.header .logo {
    width: 200px;
    margin-left: 3rem;
}

.nav-menu {
    display: flex;
    font-size: 20px;
    color: var(--White);
    align-items: center;
}

.nav-menu span {
    margin-right: 30px;
    font-family: 'Barlow', sans-serif;
    cursor: pointer;
}

.contact {
    background-color: var(--White);
    color: #000;
    padding: 10px 15px;
    border-radius: 30px;
    cursor: pointer;
    transition: .5s all ease-in-out;
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
}

.contact:hover {
    background-color: var(--header-bg);
    color: white;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main .text {
    font-size: 50px;
    color: var(--White);
    font-family: 'Fraunces', sans-serif;
    letter-spacing: 10px;
    margin-top: 1rem;
    width: fit-content;
}

.main .arrow {
    margin-top: 2.5rem;
}


.section1 {
    display: flex;
}

.section1 .left, .right {
    flex: 1;
}


.right img {
    width: 100%;
    height: 34.5rem;
    margin-bottom: -0.3rem;
    object-fit: cover;
}


.section1  .text-container {
    width: 70%;
}

.left h1 {
    font-size: 40px;
    color: var(--Very-dark-desaturated-blue);
    font-family: 'Fraunces', sans-serif;
    margin-bottom: 1.2rem;

}

.left p {
    font-size: 18px;
    color: var(--Dark-grayish-blue);
    font-family: 'Barlow', sans-serif;
    margin-bottom: 1.2rem;
    line-height: 2rem;
}

.left span {
    font-size: 20px;
    font-family: 'Fraunces', sans-serif;
    text-transform: uppercase;
    color: var(--Very-dark-desaturated-blue);
    width: fit-content;
    border-bottom: 5px solid var(--Yellow);
    cursor: pointer;
    
}

.section1 .left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2 .left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2 {
    display: flex;
}

.section2 .left {
    flex: 1;
}

.section2 .right {
    flex: 1;
    width: 100%;
}

.section2 .right img {
    width: 100%;
    height: 34.5rem;
    margin-bottom: -0.3rem;
}

.section2 .left .text-container {
    width: 70%;
}

.section2 .left h1 {
    font-size: 40px;
    color: var(--Very-dark-desaturated-blue);
    font-family: 'Fraunces', sans-serif;
    margin-bottom: 1.2rem;

}

.section2 .left span {
    font-size: 20px;
    font-family: 'Fraunces', sans-serif;
    text-transform: uppercase;
    color: var(--Very-dark-desaturated-blue);
    width: fit-content;
    border-bottom: 5px solid var(--Soft-red);
    cursor: pointer;
    outline: none;
    
}

.section3 {
    display: flex;
    width: 100%;
}

.section3 .first {
    flex: 1;
    background-image: url("./images/desktop/image-graphic-design.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 34.5rem;
}

.section3 .second {
    flex: 1;
    background-image: url("./images/desktop/image-photography.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 34.5rem;
}

.first,  .second {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.first h1 {
    font-family: 'Fraunces', sans-serif;
    margin-bottom: 1rem;
    color: var(--Dark-desaturated-cyan);
    
}

.first p {
    width: 50%;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    color: var(--Dark-desaturated-cyan);
}

.second h1 {
    color: var(--Dark-blue);
    font-family: 'Fraunces', sans-serif;
    margin-bottom: 1rem;
}

.second p {
    width: 50%;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    color: var(--Dark-blue);
}



.section3 .second img {
    width: 100%;
}


.tip {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.tip h1 {
    font-weight: bold;
    margin-top: 5rem;
    font-family: 'Fraunces', sans-serif;
    color: var(--Dark-grayish-blue);
}

.person {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 2rem;

}

.person img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.card img, p {
    margin-bottom: 4rem;
}

.card p {
    text-align: center;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    color: var(--Dark-grayish-blue);
    line-height: 2rem;
}

.card .credit  {
    text-align: center;
    font-size: 18px;
    font-family: 'Fraunces', sans-serif;
}

.image {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.image img {
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    background-color: var(--footer-bg);
    width: 100%;
}

ul {
    display: flex;
    gap: 20px;
    font-size: 18px;
    margin: 3rem 0;

    
}

ul li {
    list-style-type: none;
    cursor: pointer;
    font-family: 'Barlow', sans-serif;
    color: var(--Dark-moderate-cyan);
}

.social {
    display: flex;
    gap: 30px;
}

.footer .footer-img {
    filter: invert(45%) sepia(22%) saturate(790%) hue-rotate(118deg) brightness(95%) contrast(92%);
    width: 160px;
}


.hamburger {
  display: none;
  cursor: pointer;
}







@media screen and (max-width: 940px) {

  .wrapper {
    overflow-x: hidden;
  }


    .banner {
        background-color: #3ebfff;
        height: 100vh;
        min-height: 600px;
        background-image: url("./images/mobile/image-header.jpg");
        background-size: cover;
        background-position: center bottom;
        display: flex;
        flex-direction: column;
    } 


    
    .main .text {
        text-align: center;
        font-size: 40px;
    }
    
    .section1 {
        display: flex;
        flex-direction: column-reverse;
    }

    .section1 .left {
        margin: 3rem;
    }

    .section1 .left h1 {
        text-align: center;
    }

    .section2 {
        display: flex;
        flex-direction: column;
    }

    .section2 .left {
        margin: 3rem;
    }

    .section2 .left h1 {
        text-align: center;
    }

    .section3 {
        display: flex;
        flex-direction: column;
    }

    .section3 .first {
        background-image: url("./images/mobile/image-graphic-design.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 12rem;
        
    }

     .head, .para {
       position: relative;
       top: 8rem;
    }

    .first .para {
        width: 200px;
        
    }

    .section3 .second {
        background-image: url("./images/mobile/image-photography.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 12rem; 
    }

    .second p {
        width: 200px;
    }
    
    .person {
        display: flex;
        flex-direction: column;

    }

    .tip h1 {
      text-align: center;
    }

    .card img {
        margin-top: 1rem;
    }

    .image {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .image img {
        width: 100%;
    }

    .hamburger {
      display: flex;
      margin-left: auto;
  }

  .nav-menu.active {
    right: 0;
    align-items: flex-start;
  }

  .nav-menu {
    display: none;
  }

  .active {
    position: absolute;
    flex-direction: column;
    top: 90px;
    right:30px;
    width: 80%;
    height: 50vh;
    transition: 0.6s;
    z-index: 2;
    background: #fff;
    border-left: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: start;
}


.active span {
  padding-bottom: 2rem;
  margin-top: 2rem;
  font-family: 'Barlow', sans-serif;
  color: var(--Dark-grayish-blue);

}

.active .contact {
  background-color: var(--Yellow);
  width: 70%;
  text-align: center;
}

.hamburger .ham {
  filter: grayscale(100%) brightness(100%);

}

}




